<header>
  <div class="logo">Logo</div>
  <nav class="nav_menu">
    <a href="/">Home</a>
    <a href="/technical">Technical</a>
    <a href="/beauty">Beauty</a>
    <a href="/vehicle">Vehicle</a>
    <a href="/">About Us</a>
  </nav>
</header>
