<header>
  <div class="logo">
    <img src="/images/modern-gadgets-logo.png" alt="logo" />
  </div>
  <div class="hamburger hide"><i class="fa-solid fa-bars"></i></div>
  <nav class="nav_menu">
    <a href="/">Home</a>
    <a href="/technical">Technical</a>
    <a href="/beauty">Beauty</a>
    <a href="/vehicle">Vehicle</a>
    <a href="/">About Us</a>
    <a href="/">Home</a>
    <a href="/home">Technical</a>
    <a href="/home">Beauty</a>
    <a href="/home">Vehicle</a>
    <a href="/about">About Us</a>
  </nav>
</header>
