<header>
  <div class="logo">
    <i class="fa-solid fa-bolt"></i>
    <h1>Modern Gadgets</h1>

    <img src="/images/logo-2048px.png" alt="logo" hidden />
  </div>
  <div class="hamburger hide"><i class="fa-solid fa-bars"></i></div>
  <nav class="nav_menu">
    <div class="close-button">
      <i class="fa-solid fa-xmark fa-2xl fa-fade close-icon"></i>
    </div>

    <a href="/">Home</a>
    <a href="/tech">Tech</a>
    <a href="/beauty">Beauty</a>
    <a href="/vehicle">Vehicle</a>
    <a href="/about">About Us</a>
  </nav>
</header>
