<header>
  <div class="logo">Logo</div>
  <nav class="nav_menu">
    <a href="/">Home</a>
    <a href="/home">Technical</a>
    <a href="/home">Beauty</a>
    <a href="/home">Vehicle</a>
    <a href="/about">About Us</a>
  </nav>
</header>
