<div class="item_wrapper">
  <h2 class="item_name">Header item</h2>
  <p class="item_description">Description</p>
  <img src="/images/sampleImage.jpg" alt="image" height="auto" width="100px" />
  <p class="item_description">Description</p>
</div>