<%
  const categories = [];

  for (let i = 0; i < gadgetDetails.length; i++) {
    if (categories.indexOf(gadgetDetails[i].category) === -1) {
      categories.push(gadgetDetails[i].category);
    }
  }
%>

<ul class="sidebar_catogery">
  <% categories.forEach(el =>{ %>
    <li class="catogery_link"><%= el %></li>
  <%
 })
  %>
</ul>