<%
  const categories = [];

   if (sidebarItems && sidebarItems.length > 0) {
    sidebarItems.forEach(g => {
      if (!categories.includes(g.category)) {
        categories.push(g.category);
      }
    });
  }
%>
<div class="sidebar_toggle">
  <span class="sidebar_arrow">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down-icon lucide-chevron-down"><path d="m6 9 6 6 6-6"/>
    </svg>
  </span>
</div>
<ul class="sidebar_category">
  <% sidebarItems.forEach(item => { %>
    <li class="category_link">
      <button 
        class="sidebar_btn" 
        data-category="<%= item.category %>" 
        data-slug="<%= item.slug ? item.slug : '' %>"
      >
        <%= item.title %>
      </button>
    </li>
  <% }) %>
</ul>