* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  padding: 1.8rem;
  background: linear-gradient(
    45deg,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
}

.logo i {
  font-size: 3rem;
  background: linear-gradient(90deg, #833ab4, #fd1d1d, #fcaf45);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo h1 {
  background: linear-gradient(90deg, #833ab4, #fd1d1d, #a445fc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav a {
  padding: 1rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: aliceblue;
}

nav a:hover {
  color: black;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

.hide {
  display: none;
}

main {
  flex: 1;
  display: flex;
  background-color: #faf4fc;
}

.hero_section {
  height: 500px;
  background-image:
    linear-gradient(rgba(241, 18, 219, 0.5), rgba(193, 8, 8, 0.5)),
    url("/images/hero.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fcdbee;
  font-family: Arial, Helvetica, sans-serif;
  gap: 30px;
}

.homepage_body {
  width: 100%;
  color: #364153;
}

.homepage_text_wrapper, .category_content, .gadget_content {
  flex: 80%;
  background-color: #fefdfe;
  padding: 3rem;
  border-radius: 15px;
  height: auto;
  box-shadow: 1px 1px 5px 1px #c0bebe;
}

.homepage_header, .category_header {
  padding-bottom: 30px;
  color: #9c19f3;
}

.homepage_content, .category_content, .gadget_content {
  display: flex;
  align-items: flex-start;
  padding: 3rem;
  gap: 30px;
}

.homepage_description, .category_header {
  line-height: 2.5rem;
}

.homepage_features {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.feature_header {
  padding-bottom: 20px;
  color: #7e2a0c;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 1.5rem;
  text-wrap: nowrap;
}

.features {
  border-radius: 15px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.features:nth-child(1) {
  background-color: #f8e7fa;
}

.features:nth-child(2) {
  background-color: #feeae6;
}

.features:nth-child(3) {
  background-color: #fff3cd;
}

.feature_logo {
  padding-bottom: 10px;
}

.sidebar {
  flex: 10%;
  background-color: #fefdff;
  padding: 1.5rem;
  border-radius: 15px;
  box-shadow: 1px 1px 5px 1px #c0bebe;
  height: auto;
}

.sidebar_toggle {
  display: none;
  text-align: center;
  padding: 0;
  margin: 0;
}
.sidebar_arrow {
  display: inline-block;
  transition: transform 0.3s ease;
}

.sidebar_toggle.active .sidebar_arrow {
  transform: rotate(180deg);
}

.sidebar_category {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.category_link {
  border-radius: 15px;
  width: 200px;
  padding: 10px 30px;
  color: white;
  background-color: #F9FAFB;
  margin: 1rem;
  place-self: center;
}

.category_link a {
  text-decoration: none;
  color: #1E2939;
  font-weight: bolder;
}

.category_link a:hover {
  text-decoration: none;
  color: #1E2939;
  font-weight: bolder;
  color: snow;
}


.category_link:hover {
  box-shadow: 1px 1px 5px 1px #c0bebe;
  background-color: rgba(162, 57, 148, 0.7);
  cursor: pointer;
}

.main_category, .main_gadget {
  display: flex;
  align-items: flex-start;
  padding: 3rem;
  gap: 30px;
}

.content {
  flex: 90%;
}

.close-button {
  text-align: end;
  font-size: 1rem;
}

.close-icon {
  padding: 10px;
  color: aliceblue;
}

.close-button {
  display: none;
}

@media screen and (max-width: 768px) {
  .nav_menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    width: 35%;
    height: 100vh;
    background: linear-gradient(45deg, #833ab4, #fd1d1d, #fcb045);
    padding: 1rem;
  }

  nav a {
    padding: 1rem;
    font-size: 1rem;
    font-weight: 900;
    text-decoration: none;
    background: linear-gradient(90deg, #ffd700, #ff8c00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  nav a:hover {
    color: black;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
  }

  .close-button {
    display: block;
  }

  .hamburger {
    display: block;
    color: aliceblue;
    font-size: 2rem;
  }

  .show {
    transform: translateX(0);
  }

  .logo i {
    font-size: 2rem;
    background: linear-gradient(90deg, #833ab4, #fd1d1d, #fcaf45);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .logo h1 {
    font-size: 1.5rem;
    background: linear-gradient(90deg, #833ab4, #fd1d1d, #fcaf45);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  main {
    display: block;
    padding: 0;
  }

  .content {
    margin: 0;
  }

  .sidebar {
    background-color: #FCA240;
    width: 100%;
    text-align: center;
    border-radius: 0;
  }

  .sidebar_toggle {
    display: block;
    cursor: pointer;
    margin-bottom: 1rem;
  }

  .sidebar_category {
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .sidebar_category.active {
    display: flex;
  }

  .category_link {
    margin: 0.5rem 1rem 1rem 0.5rem;
    justify-content: space-between;
  }

  .hero_section {
    max-height: 300px;
  }

  .hero_content {
    text-align: center;
    padding: 30px;
  }

  .homepage_body {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }

  .homepage_content, .category_content, .gadget_content,
  .homepage_features {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .homepage_text_wrapper {
    border-radius: 0;
  }

  .main_category, .main_gadget {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 0;
  }

  .category_content {
    border-radius: 0;

  }
}

@media screen and (max-width: 1024px) {
  .homepage_content {
    padding: 0;
    gap: 0;
  }

  .homepage_text_wrapper {
    padding: 30px;
  }

  .homepage_features {
    display: flex;
    flex-direction: column;
  }
}
