/* :root {
  --nav-background-green: #425230;
  --nav-dark-black: #14190a;
  --nav-hover-text: #e4e5d8;
  --white-color: #ffffff;
  --background-body-offwhite: #fcfbf5;
  --dark-grey: #787c70;
  --medium-grey: #c9c9c0;
  --light-grey: #ddded7;
  --footer-background-green: #3c4230;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  padding: 2rem;
  background: linear-gradient(
    90deg,
    hsla(339, 100%, 55%, 1) 0%,
    hsla(197, 100%, 64%, 1) 100%
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 60px;
  object-fit: contain;
}

nav a {
  padding: 1rem;
  font-size: 1rem;
  text-decoration: none;
  color: aliceblue;
}

nav a:hover {
  color: black;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

.hide {
  display: none;
}



@media screen and (max-width: 768px) {
  .nav_menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    width: 30%;
    height: 100vh;
    background: linear-gradient(
      90deg,
      hsla(339, 100%, 55%, 1) 0%,
      hsla(197, 100%, 64%, 1) 100%
    );
    padding: 1rem;
  }

  .hamburger {
    display: block;
    color: aliceblue;
    font-size: 2rem;
  }

  .show{
    
    transform: translateX(0);
  }
}
