* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  height: 100vh;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  padding: 2rem;
  background: linear-gradient(
    90deg,
    hsla(339, 100%, 55%, 1) 0%,
    hsla(197, 100%, 64%, 1) 100%
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 60px;
  object-fit: contain;
}

nav a {
  padding: 1rem;
  font-size: 1rem;
  text-decoration: none;
  color: aliceblue;
}

nav a:hover {
  color: black;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

.hide {
  display: none;
}

main {
  flex: 1;
  display: flex;
  padding: 2rem;
}

.hero_section {
  height: 500px;
  background-image: linear-gradient(rgba(241, 18, 219, 0.5), rgba(193, 8, 8, 0.5)), url('/images/hero.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FCDBEE;
  font-family: Arial, Helvetica, sans-serif;
  gap: 30px;
}

.sidebar {
  width: 280px;
  background-color: #f4f4f4;
  padding: 1.5rem;
  max-height: 700px;
}

.sidebar_toggle {
  display: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.sidebar_arrow {
  display: inline-block;
  transition: transform 0.3s ease;
}

.sidebar_toggle.active .sidebar_arrow {
  transform: rotate(180deg);
}

.sidebar_category {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.category_link {
  padding: 10px 30px;
  color: white;
  background: linear-gradient(
    90deg,
    hsla(339, 100%, 55%, 1) 0%,
    hsla(197, 100%, 64%, 1) 100%
  );
  margin: 1rem;
}

.category_link a {
  text-decoration: none;
}

.category_link:hover {
  color: black;
  background-color: aquamarine;
}



@media screen and (max-width: 768px) {
  .nav_menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    width: 30%;
    height: 100vh;
    background: linear-gradient(
      90deg,
      hsla(339, 100%, 55%, 1) 0%,
      hsla(197, 100%, 64%, 1) 100%
    );
    padding: 1rem;
  }

  .hamburger {
    display: block;
    color: aliceblue;
    font-size: 2rem;
  }

  .show {
    transform: translateX(0);
  }
    main {
    display: block;
    padding: 0;
  }

  .content {
    margin: 0;
  }

  .sidebar {
    width: 100%;
    text-align: center;
  }

  .sidebar_toggle {
    display: block;
    cursor: pointer;
    margin-bottom: 1rem;
  }

  .sidebar_category {
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .sidebar_category.active {
    display: flex;
  }

  .category_link {
    min-width: 150px;
    margin: 0.5rem 1rem 1rem 0.5rem;
  justify-content: space-between;
}

.homepage_body {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
}