/* :root {
  --nav-background-green: #425230;
  --nav-dark-black: #14190a;
  --nav-hover-text: #e4e5d8;
  --white-color: #ffffff;
  --background-body-offwhite: #fcfbf5;
  --dark-grey: #787c70;
  --medium-grey: #c9c9c0;
  --light-grey: #ddded7;
  --footer-background-green: #3c4230;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  padding: 2rem;
  background: linear-gradient(
    90deg,
    hsla(339, 100%, 55%, 1) 0%,
    hsla(197, 100%, 64%, 1) 100%
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 60px;
  object-fit: contain;
}

nav a {
  padding: 1rem;
  font-size: 1rem;
  text-decoration: none;
  color: aliceblue;
}

nav a:hover {
  color: black;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

.hide {
  display: none;
}



@media screen and (max-width: 768px) {
  .nav_menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    width: 30%;
    height: 100vh;
    background: linear-gradient(
      90deg,
      hsla(339, 100%, 55%, 1) 0%,
      hsla(197, 100%, 64%, 1) 100%
    );
    padding: 1rem;
  }

  .hamburger {
    display: block;
    color: aliceblue;
    font-size: 2rem;
  }

  .show{
    
    transform: translateX(0);
  }
}
html {
  height: 100vh;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  padding: 3rem;
  background: linear-gradient(90deg, hsla(339, 100%, 55%, 1) 0%, hsla(197, 100%, 64%, 1) 100%);
  display: flex;
  justify-content: space-between;
}

.homepage_body {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.hero_section {
  height: 500px;
  background-image: linear-gradient(rgba(241, 18, 219, 0.5), rgba(193, 8, 8, 0.5)), url('/images/hero.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FCDBEE;
  font-family: Arial, Helvetica, sans-serif;
  gap: 30px;
}

.footer {
  margin-top: auto;
  font-family: Arial, Helvetica, sans-serif;
  color: #c7c3cc;
  background: hsla(232, 73%, 65%, 1);
  background: linear-gradient(90deg, hsla(232, 73%, 65%, 1) 0%, hsla(279, 33%, 48%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(232, 73%, 65%, 1) 0%, hsla(279, 33%, 48%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(232, 73%, 65%, 1) 0%, hsla(279, 33%, 48%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#6274E7", endColorstr="#8752A3", GradientType=1 );
}

.footer_content_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  margin: 0 auto;
  padding: 3rem 1rem;
  line-height: 20px;
}

.footer_section {
  max-width: 300px;
}

.footer_container_five {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.footer h3 {
  color: white;
  padding-bottom: 20px;
}

.social_icons {
  padding-top: 20px;
}

.social_icons a {
  text-decoration: none;
  padding-right: 20px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer_content_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  }
}
