<%- include("../partials/head") %>
<body>
    <%- include("../partials/header") %>  

    <main>
      <div class="sidebar">
        <h2 class="sidebar_title">Sidebar-Home Page</h2>
        <%- include("../partials/sideBar") %>
      </div>
      <div class="content">
        <h1>Main Content-Home page</h1>
      </div>
      
    </main>

    <%- include("../partials/footer.ejs") %>
  </body>
</html>